<div>
    <div class="mdl-grid mdl-grid--no-spacing top-spacing">
        <div class="mdl-cell--4-offset mdl-cell--2-offset-tablet mdl-cell mdl-cell--4-col container">

            <div class="mdl-cell mdl-cell--12-col title">
                Criação de Senha
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <form [formGroup]="passwordCreationForm" (ngSubmit)="onPasswordCreationSubmit()">

                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>

                    <button type="submit" [disabled]="!passwordCreationForm.valid" mat-raised-button
                        color="primary">Criar</button>
                </form>
            </div>
        </div>
    </div>
</div>