<div>
    <div class="mdl-grid mdl-grid--no-spacing top-spacing">
        <div class="mdl-cell--4-offset mdl-cell--2-offset-tablet mdl-cell mdl-cell--4-col container">

            <div class="mdl-cell mdl-cell--12-col title">
                Recuperação de Senha
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <form [formGroup]="requestPasswordRecoveryForm" (ngSubmit)="onRequestPasswordRecoverySubmit()">

                    <mat-form-field class="form-field" color="accent">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>

                    <button type="submit" [disabled]="!requestPasswordRecoveryForm.valid" mat-raised-button
                        color="primary">Solicitar</button>
                </form>
            </div>
        </div>
    </div>
</div>