.horizontal-spacer {
    flex: 1 1 auto;
}

.footer {
    background: #303030;
    text-align: center;
    color: #626262;
    padding: 16px;
    position: static;

    span {
        position: relative;
        top: -8px;
        display: inline-block;
    }

    .link {
        font-weight: normal !important;
        text-decoration: none !important;
    }
    
    .heart-icon {
        padding: 0px 4px 0px 4px;
    }
}

.menu-button {
    margin: 0px 5px 0px 5px;
}

app-loader {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

